/*************** Global Setings ***************/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: #08526b;
  margin: 25px;
  text-align: left;
  padding: 30px;
}

h1, h2, h3, h4 {
  text-align: left;
  font-family: "Aclonica",
  sans-serif;
  color: white;
  margin-top: 25px;
}

h5, h6 {
  font-family: "Aclonica",
  sans-serif;
  color: white;
  margin-top: 10px;
}

p {
  color: #cac7c7;
}

ul, ol {
  color: #cac7c7;
}

a {
  color: #cac7c7;
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

img {
  width: 500px;
  height: 550px;
  border-radius: 15px;
}

/*************** Home Page ***************/
.homepage-div {
  width: 50%;
  margin: 50px auto 50px auto;
  padding: 5px;
  text-align: left;
  line-height: 1.5;
}

.home-img {
  height: 350px;
  float: left;
  margin-right: 50px;
}

.text-div {
  height: 550px;
  padding: 30px;
}

/*************** Vision Page ************/
.vision-page-div {
  width: 50%;
  margin: 100px auto 100px auto;
  padding: 5px;
  text-align: left;
  line-height: 2;
}

.vision-img {
  height: 350px;
  float: left;
  margin-right: 50px;
}

/*************** Home Page ***************/
.home {
  width: 850px;
  height: 550px;
}

/*************** History Page ***************/
.col-md-6 {
  display: inline;
  width: 100%;
  margin: 50px auto 50px auto;

}
.cj-pic{
  width: 500px;
  height: 550px;
  border-radius: 15px;

}
/************Videos Page***********************/
.cueball-control {
  height: 500px;
}
